{% extends "core/base_inner.html" %}

{% block title %}{{ pet.pet.name }} | PetVerse{% endblock %}

{% block content %}

<h2 class="mb-3">{{ pet.pet.name }} 🐾</h2>
<p class="text-muted">{{ pet.pet.category }}</p>

<hr>

<div class="row">

    <div class="col-md-5">
        {% if pet.pet.image %}
            <img src="{{ pet.pet.image.url }}"
                 class="img-responsive img-thumbnail">
        {% endif %}
    </div>

    <div class="col-md-7">
        <p>{{ pet.pet.description }}</p>

        <hr>

        {% if user.role == "adopter" %}
            <a href="{% url 'send_owner_adoption_request' pet.id %}"
               class="btn btn-success">
                <i class="fa fa-heart"></i> Request Adoption
            </a>
        {% else %}
            <div class="alert alert-warning">
                Only adopters can request adoption.
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}
