{% extends "core/base_auth.html" %}

{% block title %}Shelter Signup{% endblock %}

{% block content %}
<div class="container col-md-6">
    <h2>Shelter Registration</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Shelter Name</label>
        <input class="form-control" name="shelter_name" required><br>

        <label>Email</label>
        <input class="form-control" name="email" type="email" required><br>

        <label>Phone</label>
        <input class="form-control" name="phone" required><br>

        <label>Address</label>
        <textarea class="form-control" name="address" required></textarea><br>

        <label>Description</label>
        <textarea class="form-control" name="description"></textarea><br>

        <label>Shelter Logo (Optional)</label>
        <input class="form-control" type="file" name="logo"><br>

        <label>Password</label>
        <input class="form-control" type="password" name="password" required><br>

        <button class="btn btn-primary" style="width:100%;">Register Shelter</button>
    </form>
</div>
{% endblock %}
